:root {
  --transition: 300ms;
}

.hamburger {
  width: 1.8rem;
  height: 1.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  &:hover {
    .line {
      background-color: var(--green);
    }
  }
}
.hamburger .line {
  display: block;
  width: 1.8rem;
  height: 0.18rem;
  background: var(--white);
  border-radius: 2px;
  position: absolute;
  transition: transform var(--transition) ease, opacity var(--transition) ease,
    background var(--transition) ease;
}
.line:nth-child(1) {
  transform: translateY(-8px);
}
.line:nth-child(2) {
  transform: translateY(0);
}
.line:nth-child(3) {
  transform: translateY(8px);
}
.isOpen .line {
  background: var(--white);
}
.isOpen .line:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  z-index: 2;
}
.isOpen .line:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}
.isOpen .line:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
  z-index: 2;
}
.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  opacity: 0;
  padding: 0 20rem;
  pointer-events: none;
  transition: opacity var(--transition) ease, background var(--transition) ease;
}

.menuAbtMe {
  max-width: 37.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  h3 {
    color: var(--white);
    font-weight: 300;
    font-size: 2.375rem;
    width: 100%;
  }
}

.profileImg {
  width: 7.25rem;
  height: 7.25rem;
  border-radius: 100%;
  object-fit: cover;
}

.open {
  background: var(--black);
  opacity: 1;
  pointer-events: auto;
}
.menu ul {
  list-style: none;
  text-align: center;
}
.menu li {
  margin: 2rem 0;
}
.menu a {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  font-size: 3.75rem;
  transition: transform var(--transition) ease;
  &:hover {
    color: var(--green);
  }
}
