:root {
  --transition: 300ms;
}
.hamburgerContainer {
  position: fixed;
  right: 2.5rem;
  width: 1.8rem;
  height: 1.8rem;
  /* z-index: 1; */
}
.hamburger {
  width: 1.8rem;
  height: 1.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  &:hover {
    .line {
      background-color: var(--green);
    }
  }
}
.hamburger .line {
  display: block;
  width: 1.8rem;
  height: 0.18rem;
  background: var(--white);
  border-radius: 2px;
  position: absolute;
  transition: transform var(--transition) ease, opacity var(--transition) ease,
    background var(--transition) ease;
}
.line:nth-child(1) {
  transform: translateY(-8px);
}
.line:nth-child(2) {
  transform: translateY(0);
}
.line:nth-child(3) {
  transform: translateY(8px);
}
.isOpen .line {
  background: var(--white);
}
.isOpen .line:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  z-index: 2;
}
.isOpen .line:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}
.isOpen .line:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
  z-index: 2;
}
.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  opacity: 0;
  padding: 0 2rem;
  pointer-events: none;
  transition: opacity var(--transition) ease, background var(--transition) ease;
  @media only screen and (min-width: 800px) {
    padding: 0 clamp(4rem, 5vw, 18rem);
    flex-direction: row;
    align-items: center;
    gap: clamp(5rem, 10vw, 10rem);
  }
}

.menuAbtMe {
  max-width: clamp(20rem, 10vw, 37.75rem);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  h3 {
    color: var(--white);
    font-weight: 300;
    font-size: clamp(1.4rem, 2vw, 2rem);
    width: 100%;
  }
}

.profileImg {
  width: clamp(7.25rem, 10vw, 10rem);
  height: clamp(7.25rem, 10vw, 10rem);
  border-radius: 100%;
  object-fit: cover;
}

.open {
  background: var(--black);
  opacity: 1;
  /* z-index: 1; */
  pointer-events: auto;
}

.menu ul {
  list-style: none;
  text-align: left;
}
.menu li {
  margin: clamp(1.5rem, 2vw, 3rem) 0;
}
.menu a {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  font-size: clamp(1.7rem, 5vw, 3rem);
  font-weight: 500;
  text-transform: uppercase;
  transition: transform var(--transition) ease;

  &:hover {
    color: var(--green);
  }
}
