.footerSection {
  margin-top: clamp(1rem, 3vw, 5rem);
}

.contactMeSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  h2 {
    font-weight: 400;
    font-size: clamp(1.8rem, 2vw, 2.2rem);
    color: var(--white);
  }
}
.linkBtnContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  a {
    text-decoration: none;
  }
  @media only screen and (min-width: 800px) {
    flex-direction: row;
  }
}
.contactLinkBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  background-color: var(--black);
  border: solid 1px var(--white);
  border-radius: 0.3rem;
  color: var(--white);
  width: clamp(8rem, 25vw, 11rem);
  height: clamp(2rem, 5vw, 2.5rem);
  font-family: inherit;
  font-size: clamp(1rem, 2vw, 1.1rem);
  svg {
    width: clamp(1.2rem, 5vw, 1.5rem);
    height: clamp(1.2rem, 5vw, 1.5rem);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--green);
    color: var(--black);
    border: none;
    svg {
      path {
        fill: var(--black);
      }
    }
  }
}
.linksFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  p {
    font-size: clamp(0.75rem, 2vw, 1rem);
  }
}
