.socialLinkContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  button {
    background-color: transparent;
    /* border: solid 1px #dedede; */
    border: none;
    border-radius: 50%;
    width: clamp(2.5rem, 2vw, 5rem);
    height: clamp(2.5rem, 2vw, 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      /* border: solid 1px #a7c957; */
      cursor: pointer;
    }
  }
  svg {
    width: clamp(2.5rem, 5rem, 10rem);
    height: clamp(2.5rem, 5rem, 10rem);
    &:hover {
      path {
        fill: var(--green);
      }
    }
  }
}
