.aboutMeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 0.4rem;
  .aboutMeTitle {
    color: var(--lightGrey);
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 1.2rem);
    
  }
}
.aboutMePara {
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
}
.resumeLink {
  display: block;
  width: clamp(6rem, 7vw, 8rem);
}
.resumeBtn {
  background-color: var(--black);
  border: solid 0.5px var(--lightGrey);
  border-radius: 0.4rem;
  font-family: inherit;
  font-size: clamp(0.85rem, 2vw, 1.1rem);
  font-weight: 500;
  color: var(--white);
  padding: clamp(0.4rem, 2vw, 0.5rem);
  width: clamp(6rem, 15vw, 8rem);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  svg {
    width: clamp(1rem, 2vw, 1.2rem);
    height: clamp(1rem, 2vw, 1.2rem);
  }
  &:hover {
    cursor: pointer;
    background-color: var(--green);
    color: var(--black);
    border: none;
    svg {
      path {
        fill: var(--black);
      }
    }
  }
}
