.projectTitle {
  margin: 1rem 0 0.5rem 0;
  font-weight: 400;
  color: var(--lightGrey);
  font-size: clamp(1rem, 2vw, 1.2rem);
}
.aboutProject {
  margin-bottom: 1.5rem;
  font-size: clamp(1rem, 2vw, 1.4rem);
}

.cardContainer {
  max-width: 100%;
  display: grid;
  gap: clamp(1.3rem, 5vw, 8rem);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  justify-content: space-between;
}
.exploreBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: clamp(1.5rem, 2vw, 2rem);
  margin-bottom: 2rem;
}
.moreProjectsBtn {
  width: 13.375rem;
  height: 3rem;
  font-family: inherit;
  font-size: clamp(1rem, 2vw, 1.1rem);
  background-color: var(--black);
  border: 1px solid var(--darkGrey);
  border-radius: 0.5rem;
  color: var(--white);
  &:hover {
    cursor: pointer;
    border: 1px solid var(--green);
    color: var(--green);
  }
}
