.projectTitle {
  margin: 1rem 0 0.5rem 0;
  font-weight: 400;
  color: var(--lightGrey);
  font-size: clamp(1rem, 2vw, 1.2rem);
}
.frontendProjectsAbout,
.designProjectsAbout {
  margin-bottom: 1.5rem;
  font-size: clamp(1rem, 2vw, 1.4rem);
}
.frontendProjects,
.designProjects {
  padding: 2rem 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frontendProjectsTitle,
.designProjectsTitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--lightGrey);
}

.cardContainer {
  width: 95%;
  margin-bottom: 2rem;
  display: grid;
  column-gap: clamp(1rem, 2vw, 5rem);
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  @media only screen and (min-width: 1440px) {
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  @media only screen and (min-width: 2560px) {
    width: 60%;
  }
}

.moreProjectsBtn {
  padding: 1rem;
  font-family: inherit;
  font-size: clamp(1rem, 2vw, 1.1rem);
  background-color: var(--black);
  border: 1px solid var(--darkGrey);
  border-radius: 0.5rem;
  color: var(--white);
  &:hover {
    cursor: pointer;
    border: 1px solid var(--green);
    color: var(--green);
  }
}
