.projectTitle {
  margin: 1rem 0;
  font-weight: 400;
  color: var(--lightGrey);
}
.aboutProject {
  margin-bottom: 1.5rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
}
.exploreBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.moreProjectsBtn {
  width: 13.375rem;
  height: 3rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: #141414;
  border: 1px solid var(--darkGrey);
  border-radius: 0.5rem;
  color: var(--white);
}
