.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
  border-radius: 1rem;
  background-color: #181818;
  &:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 0 2px 10px var(--green);
  }
}
.thumbnail {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 1rem;
}
.projectCardTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-weight: 500;
  margin-top: clamp(0.3rem, 2vw, 0.6rem);
  margin-bottom: 0.8rem;
  .stacks {
    color: var(--green);
    opacity: 0.7;
    font-size: clamp(0.85rem, 1vw, 1rem);
    z-index: 0;
  }
}
.btnLinkContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  .cardBtn {
    background-color: var(--black);
    border: solid 1px var(--darkGrey);
    border-radius: 1.4rem;
    color: var(--lightGrey);
    font-size: clamp(0.875rem, 2vw, 1rem);
    font-weight: 500;
    font-family: inherit;
    width: 7.8rem;
    height: 2rem;
    &:hover {
      /* border: solid 1px var(--green); */
      background-color: var(--green);
      color: var(--black);
      cursor: pointer;
    }
  }
}
