.accordion {
  /* max-height: 500px; */
  margin-bottom: 1.5rem;
}
.accordionItem {
  margin: 1rem 0;
  /* min-height: 125px; */
}

.accTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: inherit;
  &:hover {
    cursor: pointer;
    .accTitleName {
      color: var(--green);
      cursor: pointer;
    }
  }
}
.accTitleName {
  color: var(--white);
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  font-weight: 400;
}
.accOpenBtn {
  background-color: transparent;
  border: none;
  .addBtn {
    width: 1rem;
    height: 1rem;
  }
  .minusBtn {
    width: 1.1rem;
    height: 0.1rem;
  }
}
.accordionContent {
  margin-top: 1rem;
  p {
    font-size: clamp(0.9rem, 2vw, 1rem);
  }
}
.skillIconContainer {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.skillIcon {
  width: 1.5rem;
  height: 1.5rem;
}
