.aboutDesign {
  padding-top: 9rem;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--lightGrey);
}
.designCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: clamp(1rem, 2vw, 5rem);
  row-gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  @media only screen and (min-width: 1920px) {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
