.aboutDesign {
  padding-top: 9rem;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 1rem;
}
.designCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}
