.headerSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .headerName {
    text-decoration: none;
    color: #dedede;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    &:hover {
      color: #a7c957;
      cursor: pointer;
      span {
        color: #dedede;
      }
    }
    span {
      font-size: 3rem;
      font-weight: 900;
      color: #a7c957;
    }
  }
}
