.skillSectionTitle {
  margin: 0.8rem 0;
  font-weight: 400;
  color: var(--lightGrey);
}
.skillSectionPara {
  margin-bottom: 0.8rem;
}
.accSkillContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  .accSkillTitle {
    font-size: 1rem;
  }
  .addIconBtn {
    background-color: transparent;
    border: none;
  }
  .addIcon {
    width: 1rem;
    height: 1rem;
  }
}

.skillCardsContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.skillCard {
  width: 100%;
  height: 10rem;
  border: 1px solid var(--darkGrey);
  padding: 1rem;
  border-radius: 0.2rem;
}
.skillCardTitle {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  margin-bottom: 0.6rem;
}
.iconContainer {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--darkGrey);
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skillIcon {
  width: 1.2rem;
  height: 1.2rem;
  object-fit: cover;
}
.skillTitle {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.08rem;
}
.skillPara {
  font-size: 0.75rem;
  line-height: 120%;
  width: 100%;
}
