.skillSectionTitle {
  margin: clamp(0.8rem, 2vw, 1rem) 0;
  font-weight: 400;
  color: var(--lightGrey);
  font-size: clamp(1rem, 2vw, 1.2rem);
}
.skillSectionPara {
  margin-bottom: 0.8rem;
  font-size: clamp(1.1rem, 2vw, 1.2rem);
}
