.designCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #181818;
  &:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 0 2px 10px var(--green);
  }
}

.designImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.designImgContainer {
  position: relative;
  margin-bottom: 1rem;
}
.designTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.designTitle {
  font-size: 1.2rem;
}
.designProjectBtn {
  background-color: var(--black);
  border: solid 1px var(--darkGrey);
  border-radius: 1.4rem;
  color: var(--lightGrey);
  font-size: 0.875rem;
  font-family: inherit;
  width: 6.5rem;
  height: 2rem;

  &:hover {
    background-color: var(--green);
    color: var(--black);
    border: none;
    cursor: pointer;
  }
}
.designSkills {
  background-color: var(--black);
  border-radius: 0.5rem;
  position: absolute;
  bottom: 1.5rem;
  right: 0.5rem;
  p {
    font-size: 0.7rem;
    padding: 0.5rem;
    color: var(--white);
  }
}
